body {
  font-family: sans-serif;
}

.btn {
  bottom: 20px;
  right: 20px;
  position: fixed;
  padding: 0;
  border: none;
  color: #b9090b;
  cursor: pointer;
  outline: none;
  background: transparent;
  transition: 0.5s ease;
}

.btn:hover {
  transform: scale(1.2);
}

.btn i {
  margin: 0;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.header, .footer {
  background-color: #235789;
  color: #fff;
}

.header {
  overflow: hidden;
}

h1 {
  text-align: center;
}

#main {
  padding: 1em 2em;
  overflow: hidden;
  max-width: 900px;
  margin: 0 auto;
}

.channelContainer, .bookSeries {
  padding: 1em;
  border-bottom: 1px solid #000;
}

.channelContainer:last-of-type, .bookSeries:last-of-type {
  border: none;
}

h2 {
  margin: 0 0 0.3em 0;
}

h3 {
  margin: 0 0 0.3em 0;
}

.netflix {
  color: #b9090b;
}

.hulu {
  color: #3DBB3D;
}

.amazon {
  color: #ff9900;
}

.hbo {
  color: #0F0F0F;
}

.library {
  color: #0E6AA8;
}

.vue {
  color: #1275B0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-style: italic;
  line-height: 1.25em;
}

.footer {
  text-align: center;
  padding: 1em;
  font-weight: bold;
}